.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 400px;
  margin: auto;
  margin-top: 4rem;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}
.user-profile-container {
  display: flex;
  flex-direction: column;
}
.name {
  text-align: center;
  margin: 3rem 0 !important;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .user-profile-container {
    display: flex;
    flex-direction: column;
  }
  .user-profile-container .image {
    width: 220px !important;
    height: auto;
    margin-top: 1rem;
  }
}
