.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 400px;
  margin: auto;
  margin-top: 4rem;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}
.user-profile-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.4rem;
}
.name {
  text-align: center;
  margin: 3rem 0 !important;
}
.name h3 {
  font-size: 2rem !important;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .user-profile-container {
    display: flex;
    flex-direction: column;
  }
  .user-profile-container .image {
    width: 220px !important;
    height: auto;
    margin-top: 1rem;
  }
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.profileContainer {
  width: 100%;
  overflow-x: hidden;
}

.profileLoader {
  display: flex;
  justify-content: center;
}
.profileHeader {
  min-height: 60vh;
  background: #009fff;
  background: linear-gradient(to right, #09caba, #70e49d);
  color: white;
  clip-path: ellipse(100vw 60vh at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  text-align: center;
}

.profilePic {
  height: 15rem;
  width: 15rem;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #fff;
}

.location p {
  display: inline-block;
}

.location svg {
  vertical-align: middle;
}

.stats {
  display: flex;
}

.stats .col4 {
  width: 10rem;
  text-align: center;
}

.heading {
  font-weight: 400;
  font-size: 1.7rem;
  margin: 1rem 0;
}
